@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { display: block; }

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */
input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

header.wrapper {
  width: 90.6%;
  padding: 32px 4.5% 32px 4.9%;
  border-bottom: 2px solid #474951;
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: transparent;
}

.logo { 
  display: flex; 
  flex: 56.7%;
  align-items: center;
}

h1 {
  width: 148px;
  padding-right: 23px;
  border-right: 1px solid #606169;
  margin-right: 25px;
  text-indent: -9999px;
}

h1 a {
  float: left;
  text-indent: 0;
}

h1 + a:hover {
  color: #CCCCCC;
  transition: 0.3s ease-in-out;
}

header a {
  color: #F1F1F2;
  font-size: 15px;
  text-transform: capitalize;
}

nav a:hover {
  color: #22242E;
  transition: 0.3s ease-in-out;
}

.header_right { 
  display: flex; 
  flex: 43.3%;
  align-items: center;
}

nav { position: relative; }

nav ul {
  display: flex;
  justify-content: space-between;  
}

nav li {
  margin-right: 25px;
  font-weight: bold;
  letter-spacing: 1px;
  white-space: nowrap;
}

nav li:first-child { margin-right: 12px; }

.hamburger { 
  display: none; 
  position: absolute;
  top: 0;
  left: 0;
}

.hamburger div {
  width: 30px;
  height: 5px;
  margin-bottom: 3px;
  background-color: #fff;
  text-indent: -9999px;
  transition: .3s ease-in-out;
}

nav:hover .bar1 { transform: rotate(-45deg) translate(-4px, 4px); }
nav:hover .bar2 { opacity: 0; }
nav:hover .bar3 { transform: rotate(45deg) translate(-7px, -9px); }

.search { display: none; }
.search + button {
  border-style: none;
  background-color: transparent;
  color: #fff;
  text-indent: -9999px;
}

.search + button::before {
  content: "\f002";
  font-family: fontAwesome;
  float: left;
  font-size: 17px;
  text-indent: 0;
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

.blank { display: none; }

.banner {
  width: 100%;
  display: flex;
  position: relative;
  background-color: #22242E;
  color: #fff;
  text-transform: uppercase;
}

.banner_slider li { display: none; }
.banner_slider .active_slider { display: block; }

.banner_show { display: flex; }

.banner_left { 
  width: 33.8%;
  padding: 366px 0 0 58px; 
  float: left;
}

.banner_left h2 {
  display: flex;
  flex-direction: column;
}

.banner_left h2 span{ display: inline-block; }

.build, .exclusive { font-size: 50px; }

.exclusive { 
  margin-bottom: 13px;
  font-weight: bold; 
}

.edifices {
  margin-bottom: 265px;
  display: block;
  font-size: 22px;
  letter-spacing: 48px;
}

.banner figure {
  width: 66.2%;
}

.lines {
  position: absolute;
  left: 65px;
  bottom: 98px;
}

.lines li { 
  margin: 0 2px;
  text-indent: -9999px; 
}

.lines li:hover::after {
  content: "";
  width: 40px;
  border-top: 10px solid #fff;
  margin-top: 0;
  float: left;
  text-indent: 0;
  transition: 0.3s ease-in-out;
}

.lines li::after {
  content: "";
  width: 40px;
  border-top: 1px solid #484A52;
  margin-top: 9px;
  float: left;
  text-indent: 0;
}

.lines li:nth-child(3)::after {
  content: "";
  width: 40px;
  border-top: 10px solid #fff;
  margin-top: 0;
  float: left;
  text-indent: 0;
}

.why_us {
  width: 90%;
  padding: 87px 0;
  margin-bottom: 192px;
  display: flex;
}

.why_us_left {
  width: 40%;
  padding-right: 55px;
}

.why_us_left h3 {
  margin-bottom: 56px;
  color: #C2C3C6;
  font-size: 18px;
  letter-spacing: 35px;
  text-transform: uppercase;
}

.why_us_left h3 + p {
  margin-bottom: 40px;
  font-size: 52px;
  line-height: 56px;
  text-transform: uppercase;
}

.why_us_left h3 + p span { font-weight: bold; }

.why_us_left h3 + p + p {
  color: #C2C3C6;
  line-height: 25px;
}

.why_us_right {
  width: 60%;
  position: relative;
}

.why_us_right figure:first-of-type {
  position: absolute;
  top: 0;
  left: 15.1%;
  right: 0;
}

.why_us_right figure:last-of-type {
  position: absolute;
  top: 315px;
  left: 0;
  right: 55.5%;
}

.ask_question {
  padding: 241px 0 61px;
  text-align: center;
}

.ask_question h4 {
  margin-bottom: 68px;
  font-size: 55px;
  line-height: 58px;
  text-transform: uppercase;
}

.ask_question h4 span {
  display: block;
  font-weight: bold;
}

.ask_question form input, textarea {
  width: 69%;
  padding-bottom: 15px;
  border-style: none;
  border-bottom: 2px solid #E7E7E7;
  margin-bottom: 64px;
  color: #E7E7E7;
  font-size: 20px;
  outline-style: none;
}

textarea {
  padding-bottom: 118px;
  margin-bottom: 48px;
}

.ask_question form input[type="submit"] {
  width: 16.7%;
  padding: 23px;
  margin: 0 auto;
  display: block;
  background-color: #22242D;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.ask_question form input[type="submit"]:hover {
  background-color: #272E4C;
  transition: 0.3s ease-in-out;
}

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

footer {
  padding: 28px 0 0;
  background-color: #1F1F20;
}

footer a { 
  color: #8C8C8C;
  text-transform: capitalize; 
}

footer a:hover { color: #fff; }

.footer_top {
  width: 90.2%;
  padding-bottom: 10px;
  border-bottom: 1px solid #535354;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
}

.footer_top h2 {
  width: 148px;
  padding-right: 24px;
  border-right: 1px solid #535354;
  margin-right: 24px;
  text-indent: -9999px;
}

.footer_top h2 a {
  float: left;
  text-indent: 0;
}

.footer_top .active { color: #fff; }

.footer_logo {
  display: flex;
  align-items: center;
}

.footer_top_right li:first-child { margin-right: 25px; }

.footer_bottom {
  padding: 18px 0 34px;
  display: flex;
  justify-content: space-between;
}

.footer_bottom p { 
  color: #8C8C8C; 
  text-transform: capitalize;
}

.footer_bottom p a { color: #4CA6CB; }

.social li a {
  display: inline-block;
  text-indent: -9999px;
}

.social li:first-child a::before {
  content: "\f09a";
  margin-right: 15px;
  float: left;
  font-family: fontAwesome;
  text-indent: 0;
}

.social li:nth-child(2) a::before {
  content: "\f099";
  margin-right: 15px;
  float: left;
  font-family: fontAwesome;
  text-indent: 0;
}

.social li:nth-child(3) a::before {
  content: "\f16d";
  float: left;
  font-family: fontAwesome;
  text-indent: 0;
}

.wordpress {
  width: 99.4%;
  padding: 4px;
  background-color: #fff;
}

.wordpress p { color: #8C8C8C; }
.wordpress p::first-letter { text-transform: capitalize; }
.wordpress p a, .wordpress p span { text-transform: capitalize; }
.wordpress p a { color: #4CA6CB; }

 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {

header.wrapper { 
  border-style: none;
  position: relative;
  background-color: #000;
  color: #000; 
}

.logo {
  position: absolute;
  top: 40px;
  left: 40%;
  text-align: center;
  flex-direction: column;
}

.logo h1 { border-style: none; }

.header_right { 
  width: 100%;
  /*position: absolute;*/
  display: flex;
  order: 1; 
  justify-content: space-between;
}

nav:hover ul { display: block; }

nav ul {
  width: 100%;
  display: none;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
}

nav ul li {
  width: 100%;
  display: block;
}

nav a {
  width: 100%;
  font-size: 20px;
}

.hamburger { display: block; }
main { position: relative; }

.blank { 
  width: 100%;
  height: 105px;
  display: block;
  background-color: #1F1F20;
  text-indent: -9999px; 
}

.banner_content {
  position: absolute;
  top: 40%;
  left: 5%;
  font-size: 40px;
}

.why_us { 
  margin-bottom: 400px;
  flex-direction: column; 
}

.why_us p { margin-bottom: 30px; }

.why_us_left, .why_us_right { width: 100%; }

/*REMOVE HOVER EFFECT*/
nav a:hover { color: #F1F1F2; }

.ask_question form input[type="submit"]:hover {
  background-color: #22242D;
}

.lines li:hover::after {
  content: "";
  width: 40px;
  border-top: 1px solid #484A52;
  margin-top: 9px;
  float: left;
  text-indent: 0;
}

.lines li:nth-child(3):hover::after {
  content: "";
  width: 40px;
  border-top: 10px solid #fff;
  margin-top: 0;
  float: left;
  text-indent: 0;
}

footer a:hover { color: #8C8C8C; }

.footer_top, .footer_bottom { flex-direction: column; }

}  